<launch>

<rosparam file="$(find mobot_description)/config/controller.yaml" command="load"/>

<node args="Right_wheel_velocity Left_wheel_velocity joint_state_controller " name="controller_spawner" ns="mobot" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>

<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/mobot/joint_states"/>
</node>

</launch>
